redirects: on

group Main
framework: netstandard2.0
storage: none
source https://www.nuget.org/api/v2

    nuget FSharp.Core redirects: force
    nuget CassandraCSharpDriver
    nuget Hopac


group Tests
framework: net4.6.1
source https://nuget.org/api/v2

    nuget Nunit 2.6.4
    nuget Nunit.Runners 2.6.4
    nuget Unquote


group Build
framework: net4.6
source https://nuget.org/api/v2
  
    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx