redirects: on

group Main
storage: none
source https://www.nuget.org/api/v2

    nuget FSharp.Core redirects: force
    nuget CassandraCSharpDriver
    nuget Hopac
    nuget NUnit3TestAdapter
    nuget Nunit
    nuget Unquote
    nuget Microsoft.NET.Test.Sdk

group Build
framework: net4.6
source https://nuget.org/api/v2
  
    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx